body {
    background-image: url("./imagens/16.jpg");
    background-size: 100%;
}

* {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

ul {
    margin: 0px;
    padding: 0;
}

li {
    list-style: none;
    margin: 10px;
    display: inline;
}

li a {
    align-items: flex-end;
    padding: 5px 10px;
    margin: 10px;
    border: 0px solid #f00;
    background: rgb(22, 22, 22);
    text-decoration: none;
    color: #FFF;
    /* cantos arredondados */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
}

li a:hover {
    background: #CCC;
    color: #000;
    border-color: #000;
}

h1 {
    font-size: 40px;
    color: white;
}

logo {
    color: white;
}

h2, p {
    color: white;
}

h2 {
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    font-size: 35px;
}

p {
    left: 100px;
    /* padding: 50px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1000px;
    font-size: 20px;
}

h3 {
    margin-bottom: 200px;
    left: 100px;
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1000px;
    font-size: 20px;
}

div p {
    float: right;
    margin-top: 150px;
    left: 100px;
}

html, body {
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
}
        
footer {
    position: absolute;
    bottom: 100;
    background-color:white;
    color: black;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}